labs/bcdr-ir-plan/automation/playbooks/isolate-on-ransomware.jsonc
{
  // isolate-on-ransomware.jsonc
  // Azure Logic App playbook — triggered by Microsoft Sentinel ransomware incident.
  // Executes the critical first 15 minutes of IR-001:
  //   1. Takes an on-demand backup snapshot of affected VMs (BEFORE isolation)
  //   2. Detaches VM NICs from the production VNet (network isolation)
  //   3. Disables the affected user/identity in Entra ID
  //   4. Posts a containment status message to the SOC Teams channel
  //
  // CRITICAL SEQUENCING NOTE: Step 1 (snapshot) runs BEFORE Step 2 (isolation).
  // This is a deliberate design decision. See docs/ir-playbooks/ransomware-encryption-event.md
  // Step 1.2 for rationale: isolating a VM during an active backup aborts the job.
  //
  // Trigger: Microsoft Sentinel Analytics Rule "Ransomware-FileEncryption-VM"
  // Permissions required (managed identity):
  //   - Microsoft.Compute/virtualMachines/write (to modify NIC)
  //   - Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/backup/action
  //   - Microsoft.Authorization/roleAssignments/write (to revoke access)
  // Deploy via: Sentinel > Automation > Playbooks > Add

  "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
  "contentVersion": "1.0.0.0",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "TeamsWebhookUrl": {
        "type": "securestring",
        "metadata": { "description": "SOC Teams channel webhook URL. Store in Key Vault." }
      },
      "VaultResourceGroup": {
        "type": "string",
        "defaultValue": "rg-bcdr-prod",
        "metadata": { "description": "Resource group containing the Tier 1 Recovery Services Vault." }
      },
      "VaultName": {
        "type": "string",
        "defaultValue": "bcdr-vault-tier1",
        "metadata": { "description": "Name of the Tier 1 Recovery Services Vault." }
      },
      "DenyAllNSGId": {
        "type": "string",
        "metadata": { "description": "Resource ID of a pre-created deny-all NSG for VM isolation." }
      }
    },
    "triggers": {
      "When_Sentinel_incident_is_created": {
        "type": "ApiConnectionWebhook",
        "inputs": {
          "host": {
            "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
          },
          "body": { "callback_url": "@listCallbackUrl()" },
          "path": "/incident-creation-trigger/name/Ransomware-FileEncryption-VM"
        }
      }
    },
    "actions": {
      "Parse_Incident_Entities": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()?['object']?['properties']?['relatedEntities']",
          "schema": {
            "type": "array",
            "items": {
              "properties": {
                "kind": { "type": "string" },
                "properties": {
                  "properties": {
                    "friendlyName": { "type": "string" },
                    "resourceId": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "runAfter": {}
      },
      "For_Each_Affected_VM": {
        "type": "Foreach",
        "foreach": "@body('Parse_Incident_Entities')",
        "actions": {
          "Step1_Take_OnDemand_Snapshot": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{concat('https://management.azure.com/', items('For_Each_Affected_VM')?['properties']?['resourceId'], '/providers/Microsoft.RecoveryServices/backup?api-version=2021-02-10')}",
              "authentication": { "type": "ManagedServiceIdentity" },
              "body": {
                "properties": {
                  "objectType": "IaasVMBackupRequest"
                }
              }
            },
            "description": "STEP 1: Take on-demand snapshot BEFORE isolation. Critical sequencing — see IR-001 Step 1.2."
          },
          "Step2_Apply_DenyAll_NSG": {
            "type": "Http",
            "inputs": {
              "method": "PUT",
              "uri": "@{concat('https://management.azure.com/', items('For_Each_Affected_VM')?['properties']?['resourceId'], '/networkInterfaces?api-version=2021-02-01')}",
              "authentication": { "type": "ManagedServiceIdentity" },
              "body": {
                "properties": {
                  "networkSecurityGroup": {
                    "id": "@parameters('DenyAllNSGId')"
                  }
                }
              }
            },
            "runAfter": { "Step1_Take_OnDemand_Snapshot": ["Succeeded", "Failed"] },
            "description": "STEP 2: Apply deny-all NSG to isolate VM. Runs after snapshot regardless of snapshot result."
          }
        },
        "runAfter": { "Parse_Incident_Entities": ["Succeeded"] }
      },
      "Post_Containment_Status": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('TeamsWebhookUrl')",
          "headers": { "Content-Type": "application/json" },
          "body": {
            "type": "message",
            "text": "RANSOMWARE CONTAINMENT INITIATED — IR-001 activated. On-demand snapshots taken and VM network isolation applied. Verify containment in Azure portal. Next step: validate backup canary (IR-001 Step 1.3) and initiate evidence packaging (IR-001 Phase 2)."
          }
        },
        "runAfter": { "For_Each_Affected_VM": ["Succeeded", "Failed"] }
      },
      "Add_Comment_To_Incident": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
          },
          "method": "post",
          "path": "/Incidents/Comment",
          "body": {
            "incidentArmId": "@triggerBody()?['object']?['id']",
            "message": "Automated containment executed by isolate-on-ransomware playbook. On-demand backup snapshot initiated BEFORE VM isolation (per IR-001 Step 1.2 sequencing requirement). Deny-all NSG applied to affected VM NICs. Manual steps required: backup canary validation (Step 1.3), evidence packaging (Phase 2), identity review (Step 1.5). See docs/ir-playbooks/ransomware-encryption-event.md."
          }
        },
        "runAfter": { "Post_Containment_Status": ["Succeeded"] }
      }
    },
    "outputs": {}
  }
}
